name: Build and Push Docker image

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main
  repository_dispatch:
    types: [trigger-build]
  workflow_dispatch: # Allows manual triggering


jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        uses: docker/metadata-action@v3
        with:
          images: |
            ${{ secrets.DOCKER_USERNAME }}/qbittorrent-filebot
            ghcr.io/${{ github.repository_owner }}/qbittorrent-filebot
      
      - name: Build and push Docker image to GitHub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/qbittorrent-filebot:latest

      - name: Build and push Docker image to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/docker-qbittorrent-filebot:latest
